{% extends "layout/layout.twig" %}




{% block pagecontent %}



    <div class="clearfix"></div>
    <div class="container-fluid well">
           <div class="span3">
               <h6>Account</h6>
               {{ session.username }}
        </div>

    </div>



{% endblock %}
