{% extends "layout/layout.twig" %}




{% block pagecontent %}

    {% if(session.username is defined ) %}

    <div class="container-fluid wrapper">

        <form action="" method="post" name="changepassword" class="form-inline well" id="changepassword">
            <h3 class="title">Endre passord</h3>
    <span class="help-block">Tast inn ditt nåværende passord og det nye passordet du ønsker å skifte til.</span>
            {% if feedback is defined %}
                <div class="clearfix"></div>
                <span class="help-inline">
                <p class="error">
                    <span class="help-inline">{{ feedback }}</span>
                </p>
               </span>
            {%  endif  %}

            <p>
                <label class="span3">Nåværende passord:</label>
                <input name="password0" type="password" class="input span3" placeholder="Existing password" value="{% if passord0 is defined %}{{ passord0 }}{%  endif  %}">
            </p>

            <p>
                <label class="span3">Nytt passord:</label>
                <input name="password1" type="password" class="input span3" placeholder="New passord" value="{% if passord1 is defined %}{{ passord1 }}{%  endif  %}">
            </p>
            <p>
                <label class="span3">Gjenta:</label>

                <input name="password2" type="password" class="input span3" placeholder="Repeat new passord" value="{% if passord2 is defined %}{{ passord2 }}{%  endif  %}">
                <!--<span class="help-inline">help?</span>-->
            </p>


            <button name="submit" type="submit" id="submitbutton" class="btn">Send</button>
        </form>

        <div class="pad25 hidden-desktop"></div>
    </div>


    {% endif %}

{% endblock %}
