{% extends "layout/layout.twig" %}




{% block pagecontent %}


        <div id="page" class="wrapped-content">

            <h3>Password Reset</h3>

            <p>
                Having trouble logging in? If you initially logged in with a social account, <a href="/login">log in instead</a> or <a href="/help">contact us</a> for help.
            </p>

            <form method="post" name="forgottenpassword" id="forgottenpassword" class="drop-top">

                <p><label for="id_email">E-mail:</label> <input id="id_email" type="text" name="email" maxlength="75" /></p>
                <p>
                    <input type="submit" value="Submit" />
                </p>
            </form>

        </div>


{% endblock %}
