{% extends "layout/layout.twig" %}




{% block pagecontent %}

    <div class="container-fluid">
    <h4>Ny bruker</h4>
    <div class="span4 "><input type="text" value="" placeholder="Brukernavn"> </div>
    <div class="span4 "><input type="password" value="" placeholder="Passord"> </div>

    </div>



{% endblock %}
