{% extends "layout/layout.twig" %}

{% block pagecontent %}

    <div class="container-fluid wrapper">

        <form action="" method="post" name="register" class="form-inline well" id="register">
            <h3 class="title">Ny bruker</h3>
    <span class="help-block">Opprett ny brukerkonto</span>
            {% if feedback is defined %}
                <span class="help-inline">
                <p class="error">Feil:
                    <span class="help-inline">{{ feedback }}</span>
                </p>
               </span>
            {%  endif  %}

            <p>
                <input name="username" type="text" class="input span3" placeholder="Brukernavn" value="{% if brukernavn is defined %}{{ brukernavn }}{%  endif  %}">
        </p>

            <p>

                <input name="password" type="password" class="input span3" placeholder="Passord" value="{% if passord is defined %}{{ passord }}{%  endif  %}">
                <!--<span class="help-inline">help?</span>-->
            </p>


            <button name="submit" type="submit" id="submitbutton" class="btn">Registrer bruker</button>
        </form>


        <div class="pad25 hidden-desktop"></div>
    </div>

{% endblock %}
