{% extends "layout/layout.twig" %}

{% block pagecontent %}

    <div class="container-fluid span12">
        <h1>En feil har oppstått</h1>

        <pre class="prettyprint">

        {{ dump(_context) }}
        </pre>
    </div>

{% endblock %}
