<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./Bootstrap.php"
        colors="true"
        debug="true"
        verbose="true"
        backupGlobals="false"
        >
    <testsuites>
        <testsuite name="saruser">
            <directory>./SarUserTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
