{% extends "layout/layout.twig" %}

{% block pagecontent %}

    <div class="container span12">

        <h2> Login </h2>
        <p> This page will hold the content for the login form </p>
        <a href="/users"><< Back to Home</a>


    </div>

{% endblock %}

