
<div id="mainContent">

	<div class="wrapper">
		<h1>Resultat på treff etter {{getPath()|replace({"/sok/":""})}}</h1>

			<script type="text/javascript">
				document.addEventListener('DOMContentLoaded',function(){
					searchVideos("{{getPath()|replace({"/sok/":""})}}");
				});
				</script>

		<div id="search-result">

		</div>

	</div>
</div>
