{% extends "layout/layout.twig" %}

{% block pagecontent %}



    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit">
                <div class="row">
                    <div class="span7">
                        <h1>{{ appname }}</h1>

                        <p>
                            <i class="fui-twitter"></i> @svenardo <br/>
                            <i class="fui-mail"></i> robbestad@gmail.com <br/>
                            <i class="fui-list-bulleted"></i> +47 900 35 174 <br/>




                    </div>
                    <div class="offset1 span3">
                        Jeg er tilgjengelig på telefon, mail og Twitter. Ikke nøl med å ta kontakt.
                    </div>
                </div>

            </div>
        </div>
    </div>





{% endblock %}
