{% do headMeta().appendHttpEquiv("Pragma","") %}
{% do headMeta().appendHttpEquiv("expires","Wed, 26 Feb 1997 08:21:57 GMT") %}
{{ doctype() }}


<html lang="en">
<head>
    <meta charset="utf-8">
    {{ headMeta() }}
    <title>{% block pagetitle %}Sven A Robbestad{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/css/red.css" rel="stylesheet">
    <link href="/css/zocial.css" rel="stylesheet">
    <link href="/css/addthis.css" rel="stylesheet">
    <link href="/css/buttons.css" rel="stylesheet">

    <!-- Github widget -->
    <!--<link href="/css/hubinfo.min.css" rel="stylesheet">-->

    <link rel="shortcut icon" href="/images/favicon.ico">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <![endif]-->

    <!-- old gs tracking. Complements universal tracking below -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-45283197-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</head>
<body>

<div class="navbar">

    <div class="navbar-inner">

        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-02">
            </button>
            <a href="/" class="brand">{% block title %}Sven A Robbestad{% endblock %}</a>
            <div class="nav-collapse collapse" id="nav-collapse-02">



                <ul class="nav pull-right">

                {% block adminpanel %}
                    {% if(session.username is defined and session.username == "Anders") %}
                        <li>
                            <a href="/">
                               Anders:)
                            </a>
                        </li>
                    {% endif %}
                {% endblock %}


                    <li class="hidden-desktop visible-sm">
                        <a href="/">
                            Tilbake
                        </a>
                    </li>

                    <li class="visible-desktop hidden-sm">
                        <a href="/games/realtimechess">
                            Sanntidssjakk
                        </a>
                    </li>


                    {% if session.loggedIn is defined and session.loggedIn == true %}
                        <li>
                            <a href="/user/logout">
                                Logg ut
                            </a>
                        </li>


                    {% else %}



                        <li>
                        <a href="/user/login">
                            Logg inn
                        </a>
                    </li>
                    {% endif %}


                    <li class=" visible-sm">
                        <a href="/contact">
                            Kontakt
                        </a>
                    </li>
                    <li>
                        <a href="/resume">
                            CV
                        </a>
                    </li>


                    <li>
                        <a href="/showcase">
                            Showcase
                        </a>
                    </li>


                    <li>
                        <a href="http://blog.robbestad.no/#blog">
                            Blogg
                        </a>
                    </li>



                </ul> <!-- /nav -->
            </div><!--/.nav-collapse -->
        </div>
    </div>

</div> <!-- /navbar -->

<!-- /.container -->


<div class="container-fluid wrapper">
        {% block pagecontent %}

            menu

        {% endblock %}
    </div>
    {% block sidebar %}
<div class="container-fluid wrapper">
</div>
    {% endblock %}

<div class="container-fluid">
    {% block footer %}

        <div id="footer">
            <h1>kontakt meg</h1>
            <h3 class="center follow">
                Send meg gjerne en epost, finn meg på Google Plus, Facebook, Twitter eller Github! Jeg gleder meg til å høre fra deg.
                <!--
                We're social and we'd love to hear from you! Feel free to send us an email, find us on Google Plus, follow us on Twitter and join us on Facebook.
                -->
            </h3>

            <div class="follow_us">
                <a class="zocial twitter icon" href="#"></a>
                <a class="zocial facebook icon" href="#"></a>
                <a class="zocial linkedin icon" href="#"></a>
                <a class="zocial googleplus icon" href="#"></a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="footer2">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="copyright">

                            <div class="span3 brand">
                                <a href="/" class="brand">Sven Anders Robbestad</a>
                            </div>

                            <div class="span6 pull-right">
                                Bermingrudveien 41 -
                                3300 Hokksund -
                                Norge

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    <!-- Load JS here for greater good =============================-->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/bootstrap-switch.js"></script>
    <script src="/js/flatui-checkbox.js"></script>
    <script src="/js/flatui-radio.js"></script>
    <script src="/js/jquery.tagsinput.js"></script>
    <script src="/js/jquery.placeholder.js"></script>
    <script src="/js/jquery.stacktable.js"></script>

    <!--// universal tracking -->
    <script src="/js/analytics.js"></script>

    <script type="text/javascript" src="/js/tracker.js"></script>


</body>
</html>
