{% extends "layout/layout.twig" %}

{% block pagecontent %}



    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit">
                <div class="row">
                    <div class="span7">
                        <h1 style="font-size:28px;">Velkommen!</h1>
                        <p>Jeg er Sven Anders Robbestad. Jeg er far, samboer, og PHP-utvikler. Jeg utvikler og bidrar til en rekke åpen kildekode-prosjekter.
                            Spesielle interesseområder er: Zend Framework 2, HTML5/Javascript, Python, CasperJS.
                        </p>
                        <p> Ta gjerne <a href="/contact">kontakt</a>.
                        </p></div>
                    <div class="offset1 span3">
                        <img src="images/profilbilde.jpg" class="img-rounded">
                        <!--

                        <a class="btn btn-large btn-primary btn-block" style="text-align: left" title="@svenardo on Twitter" href="https://twitter.com/svenardo">
                            My Tweets </a>
                        <a class="btn btn-large btn-danger btn-block" style="text-align: left" title="Me at Facebook" href="http://www.facebook.com/svenarobbestad">
                            My Facebook</a>
                        <a class="btn btn-large btn-info btn-block" style="text-align: left" title="My Blog" href="/blog">
                            My Blog</a>
                        <a class="btn btn-large btn-warning btn-block" style="text-align: left" title="Me at Linkedin" href="http://lnkd.in/chfxSr">
                            Linkedin </a>

                        -->
                    </div>
                </div>

            </div>
        </div>
    </div>





    {% endblock %}
