{% extends "layout/layout.twig" %}

{% block pagecontent %}



    <div class="row-fluid">
            <div class="hero-unit">
                <div class="row">
                    <div class="span7">
                        <h1 style="font-size:28px;">Velkommen!</h1>
                    <p>
                    <div id="index_text" class="{% if session.loggedIn is defined and session.loggedIn == true %}editable{% endif %}">
                           {% if index_text is defined %} {{ index_text | raw}}{% else %}
                               <!--
                           Jeg er Sven Anders Robbestad. Jeg er far, samboer, og PHP-utvikler. Jeg utvikler og bidrar til en rekke åpen kildekode-prosjekter.
                           Spesielle interesseområder er: Zend Framework 2, HTML5/Javascript, Python, CasperJS.-->
                               {{ comments|raw }}
                            {% endif %}
                            Besøk også <a href="http://www.svenardo.com">Svenardo.com</a> 
                            eller hva med <a href="http://wiki.robbestad.no">min wiki</a>.<br/>
                            Hva med å spille litt 
                             <a href="/games/realtimechess">sanntidssjakk</a> 
                            eller <a href="http://play.svenardo.com/jetmanjr/">Jetman Jr</a>
                            eller til og med litt <a href="http://play.svenardo.com/carnage/index-mobile.html">8 bit carnage</a>
                    </div>
                    </p>



                </div>

                    <div class="offset1 span3">
                        <img src="images/profilbilde.jpg" class="img-rounded">


                        <!--

                        <a class="btn btn-large btn-primary btn-block" style="text-align: left" title="@svenardo on Twitter" href="https://twitter.com/svenardo">
                            My Tweets </a>
                        <a class="btn btn-large btn-danger btn-block" style="text-align: left" title="Me at Facebook" href="http://www.facebook.com/svenarobbestad">
                            My Facebook</a>
                        <a class="btn btn-large btn-info btn-block" style="text-align: left" title="My Blog" href="/blog">
                            My Blog</a>
                        <a class="btn btn-large btn-warning btn-block" style="text-align: left" title="Me at Linkedin" href="http://lnkd.in/chfxSr">
                            Linkedin </a>

                        -->
                    </div>
                </div>


            </div>
    </div>


{#
    <a class="coinbase-button" data-code="68509e8744dc9a153050f48f15952949" href="https://coinbase.com/checkouts/68509e8744dc9a153050f48f15952949">Pay With Bitcoin</a><script async src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
    #}

    {#
    <div class="span12  social row-fluid">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript">var addthis_config =
            {"data_track_addressbar":true};</script>
        <script type="text/javascript"
                async
                src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5270e5824b4af80a"></script>
        <!-- AddThis Button END -->
    </div>
#}



    {% endblock %}
