{% extends "layout/layout.twig" %}

{% block pagecontent %}



    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit">
                <div class="row">
                    <div class="span7">
                        <h1>CV</h1>

                        <p>

                        <h2>Seniorutvikler</h2>
                        <h4>Scandinavia Online</h4>
                        <h6>2012-i dag</h6>
                        I Scandinavia Online (<a href="http://www.sol.no">www.sol.no</a>) jobber jeg med
                        webløsningen til det eksisterende rigget for SOL, samt med den nye tekniske
                        plattformen for den kommende utgaven av SOL. Vi bygger det nye rigget på Zend
                        Framework 2, hvilket er et rammeverk jeg har valgt å spesialisere meg på.
                        </p>
                        <div class="clearfix"></div>

                        <p>
                        <h2>Teknisk sjef med lederansvar</h2>
                        <h4>Modern Internet Group AS (fra 2010: Bestshop AS)</h4>
                        <h6>2003-2012</h6>
                        Arbeidet med og utvikler løsninger for nettbutikker tilknyttet bedriften.
                        Bedriften har i disse årene lansert en rekke nettbutikker, både i Norge og i Danmark
                        og Sverige. Min jobb har vært å utvikle og drifte disse applikasjonene. Nettbutikkene
                        har samlet generert flere hundre millioner i omsetning og betjent over 400 000 kunder.
                        Mye av jobben var knyttet til utfordringen å betjene den relativt store kundemassen på et
                        begrenset antall servere.
                        Kjøpte i 2005 Dvdstrax AS, hvor jeg tidligere hadde jobbet.
                        </p>
                        <div class="clearfix"></div>



                        <p>
                        <h2>Utvikler</h2>
                        <h4>Atento AS</h4>
                        <h6>2001-2003</h6>
                        Jobbet med utvikling av innkjøpsløsning for Atento AS, som var et samarbeidsprosjekt
                        mellom Ergogroup AS, DNBNor AS og Telenor AS. Sommeren 2003 ble det klart at prosjektet
                        skulle nedprioriteres, så da forlot jeg selskapet. Atento ble senere stykket opp og solgt.
                        </p>
                        <div class="clearfix"></div>


                        <p>
                        <h2>Utvikler</h2>
                        <h4>Dvdstrax AS</h4>
                        <h6>2000-2001</h6>
                        Jobbet med utvikling av nettbutikken dvdstrax.com, som på den tiden var et av Norges
                        mest fremgangsrike DVD-butikker, med fokus på import av DVDer fra USA.
                        </p>
                        <div class="clearfix"></div>

                        <p>
                        <h2>Webredaktør</h2>
                        <h4>Dvdstrax AS</h4>
                        <h6>1998-2000</h6>
                        Jobbet som journalist og redaktør for nettmagasinet.no, som mot slutten av min periode
                        hadde nær 50 000 månedlige lesere (bekreftet via markedsundersøkelser). Mitt ansvar
                        besto i å produsere innhold, ha personalansvar for Nettmagasinets ansatte samt stå
                        ansvarlig for sluttproduktet.
                        </p>
                        <div class="clearfix"></div>



                        <p>
                        <h2>Militærtjeneste</h2>
                        <h4>HMKG Oslo</h4>
                        <h6>1997-1998</h6>
                        Gjennomførte de tre første månedene av tjenesten på Haslemoen militærleir. Ble forflyttet til
                        HMKG i Oslo hvor jeg gjennomførte resten av tjenesten. Ble utnevnt til Korporal etter seks
                        måneder i tjenesten.
                        </p>
                        <div class="clearfix"></div>


                        <p>
                        <h2>Webutvikler</h2>
                        <h4>Ipec Engineering AS</h4>
                        <h6>1996-1997</h6>
                        Utviklet offentlig nettside for Ipec samt nettsider for kunder på oppdrag for Ipec, samt hadde
                        noe salgsansvar. Sluttet i 1997 da jeg ble innkalt til militæret.
                        </p>
                        <div class="clearfix"></div>




                    </div>
                    <div class="offset1 span3">

                        <h2>Prosjekter</h2>


                        <p>
                        <h5>SOL TV</h5>
                        SOL sin nye TV-løsning med underholdnings- og aktualitetsvideoer. Bygget med
                        <a href="http://www.soltv.no">www.soltv.no</a>
                        </p>


                        <p>
                            <h5>SOL iOS app</h5>
                            Utviklet native app for SOL. Et morsomt prosjekt som jeg hele tiden vedlikeholder.
                            <a href="https://itunes.apple.com/no/app/sol.no/id567951633?l=nb&mt=8">Link til iTunes</a>
                        </p>


                        <h2>Kurs</h2>

                        <p>
                            Creative Programming for Digital Media & Mobile Apps<br/>
                            University of London International Programmes<br/>
                            <a href="https://www.coursera.org/records/skYnEBpDpEky9HV4">Certificate with Distinction</a>
                        </p>

                        <p>

                        <h2>Bøker</h2>
                        <h5>Technical reviewer</h5> "<a href="http://www.packtpub.com/testing-with-casperjs/book">Instant
                            testing with CasperJS</a>",
                        kommer ut på Packt Publishing høsten 2013.
                        </p>

                        <h2>Verv</h2>
                        <h5>Leder</h5> <a href="http://www.zfnorge.no">Zend Framework User Group Norway</a>.
                        <bR/>Leder den offiselle brukergruppen for Zend Framework i Norge. Utgir tips og eksempelkode
                        for oppsett av web- og mobilapps. Holder tidvis også kurs.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>





{% endblock %}
