{% extends "layout/layout.twig" %}

{% block pagecontent %}


    <div class="row-fluid">
        <div class="container">
        <div class="span12">
            <center><h2>SOL.no mobilapp</h2></center>
            <div class="row">
                <div class="span4">
                    <p>Den første offisielle SOL.no-appen. Problemet den forsøkte å løse
                    var at SOL.no fikk tilbakemeldinger på at de ikke var synlige på
                    smartphone fordi de ikke hadde noen tilstedeværelse på App Store.
                    </p>
                    <p>
                        SOL.no hadde imidlertid en svært god mobilside, så løsningen ble å
                        lage en native app med et webbasert grensesnitt.
                    </p>

                    <p>
                        Nyvinningen på appen er menysystemet, som aktiveres ved å klikke på hamburgerikonet øverst
                        til venstre. Menyen gir umiddelbar tilgang til de viktigste sidene på SOL, samt alle
                        aviser i Norge. Denne menyen fungerte så godt at den senere også ble laget
                        for den vanlige mobilutgaven.
                    </p>
                    <center>
                        <a href="https://itunes.apple.com/no/app/sol.no/id567951633">
                            <button class="btn-large">Se app hos iTunes</button>
                        </a>
                    </center>

                    &nbsp;<br/>
                </div>
                <div class="span4">

                    <center>
                        <a href="https://itunes.apple.com/no/app/sol.no/id567951633">
                        <img src="/images/solapp.png">
                        </a>
                    </center>


                </div>

                <div class="span4">
                    &nbsp;<br/>
                    <ul>
                        <li> <img src="/images/solappratings.png"></li>
                        <li> Første versjon lansert vinter 2012  </li>
                        <li> Har blitt installert på over 40.000 iOS-enheter </li>
                        <li> Generelt svært god kritikk fra brukerne </li>
                        <li> Iterert over 5 versjoner. Versjon 1.6 kommer ut i november med en masse små og store forbedringer </li>
                    </ul>

                </div>
                </div>

            </div>
        </div>
    </div>

<div class="row-fluid">
    <div class="container">
        <div class="span12">

        <hr>
        </div>
    </div>
</div>





    <div class="row-fluid">
        <div class="container">
            <div class="span12">
                <a id="realtimechess"></a>

                <center><h2>Sanntidsjakk</h2></center>
                <div class="row">
                    <div class="span4">
                        <p>
                            Ingenting kan forberede deg på kaoset som venter i sanntidssjakk. Ulikt normal
                            sjakk kan du bevege deg så ofte du vil i sanntidssjakk, men hver brikke
                            har en avkjølingsperiode før du kan bevege den på nytt.</p>
                        <p>Det samme gjelder for din motstander. Kan du overliste datahjernen og dra
                            hjem seieren, eller vil du ende opp med sjakk matt?</p>

                        <p class="hidden-sm">
                            Spillet er på vei til iPad (venter akkurat nå på godkjenning). Du kan imidlertid
                            spille via nettleseren her: <br/>
                            <a href="/play/realtimechess"> <button class="btn-large">Spill Sanntidsjakk</button></a>
                        </p>
                    </div>
                    <div class="span8">

                        <center>
                                <img src="/images/realtimechess.png">
                        </center>


                    </div>

                </div>

            </div>
        </div>
    </div>




<div class="row-fluid">
    <div class="container">
        <div class="span12">

        <hr>
        </div>
    </div>
</div>




    <div class="row-fluid">
        <div class="container">
            <div class="span12">
                <a id="crystalis"></a>
                <center><h2>Crystalis</h2></center>
                <div class="row">
                    <div class="span4">
                        <p>Mitt første iOS-spill (og egentlig det første komplette spillet jeg har laget), hvilket det selvfølgelig bærer litt preg av.
                        </p>
                        <p>
                        Spillet går ut på å fjerne krystaller ved å berøre de krystallene som har tre eller flere like
                            i samme rad enten horisontalt eller vertikalt.
                        </p>

                        <p>
                        Utviklet min egen A*-implementasjon for å sjekke hvor mange noder som var tilknyttet den
                            berørte noden. Dette var før jeg visste at det fantes an algoritme som het
                            A*, og at mange før meg hadde laget bedre implementasjoner av dette som jeg helt
                            sikkert kunne ha brukt.

                        </p>
                        <p>Bruker iOS Game Center. Fungerer for både iPhone, iPod og iPad.</p>
                        &nbsp;<br/>
                        <center>
                            <a href="https://itunes.apple.com/hk/app/crystalis/id526006756?mt=8">
                                <button class="btn-large">Se app hos iTunes</button>
                            </a>
                        </center>
                    </div>
                    <div class="span4">

                        <center>
                            <a href="https://itunes.apple.com/hk/app/crystalis/id526006756?mt=8">
                                <img src="/images/crystalis.png">
                            </a>
                        </center>


                    </div>

                    <div class="span4">

                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}
