{% extends "layout/layout.twig" %}

{% block pagecontent %}

    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit">
                <div class="row">
                    <div class="span12">
                        <h3><center>
                                Showcase</center>
                        </h3>
                     <h1 class="title"><center>
                             Sanntidssjakk ("RTS Chess")
                         </center>
                     </h1>
                        <center>
                        <p class="padded">
                            <a href="http://play.svenardo.com/chess/">
                                <img class="img-rounded widescreen-image" style="background-image:url(/resources/timthumb.php?src=/play/realtimechess/media/bg/bg.jpg&w=700&h=450);">
                            </a>
                        </div>
                        </p>

                    <p>
                    <center>
                        <button><a href="/games/realtimechess" class="btn-default btn-large">Spill Sanntidsjakk nå</a></button>
                    </center>
                    </p>

                        <p>
                     Ingenting kan forberede deg på kaoset som venter i sanntidssjakk. Ulikt normal
                        sjakk kan du bevege deg så ofte du vil i sanntidssjakk, men hver brikke
                        har en avkjølingsperiode før du kan bevege den på nytt.</p>
                     <p>Det samme gjelder for din motstander. Kan du overliste datahjernen og dra
                     hjem seieren, eller vil du ende opp med sjakk matt?</p>

                        <p>Skrevet i ren javascript for HTML5 Canvas. Vinner av temakategori i Ludum Dare for sanntidsspill (RTS) sommeren 2013.</p>

                        <p>
                            Internasjonal omtale: <a href="http://www.kotaku.com.au/2013/08/this-real-time-chess-game-is-not-for-the-faint-of-heart/">
                                This Real-Time Chess Game Is Not For The Faint Of Heart</a> [kotaku.com.au], <a href="http://indiestatik.com/2013/07/29/this-is-non-turn-based-chess-for-the-impatient/">This Is Non-Turn-Based Chess For The Impatient</a> [indiestatik.com], <a href="http://indiegames.com/2013/08/browser_pick_youve_never_playe.html">You've never played chess like this before</a> [indiegames.com], <a href="http://oujevipo.fr/index.php?option=com_content&amp;view=article&amp;id=979:chess&amp;catid=35:5-minutes&amp;Itemid=53">Chess [french review]</a> [oujevipo.fr], <a href="http://www.pixfans.com/chess-rts/">Chess RTS</a> [pixfans.com].<p></p>
                        </p>


                    </div>
                    <div class="offset1 span3">

                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
